@model IEnumerable<CarServiceCenter.Model.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Transactions</h1>

<p>
    <a asp-action="Create">Create New Transaction</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
                 <a asp-action="UpdateTotalPrice" asp-route-id="@item.Id">Update Total Price</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
                @Html.DisplayFor(modelItem => item.Customer.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand)
                @Html.DisplayFor(modelItem => item.Car.Model)
                @Html.DisplayFor(modelItem => item.Car.CarRegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Name)
                @Html.DisplayFor(modelItem => item.Manager.Surname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
