@page "/petfoodlist/details/{Id:int}"
@using PetShop.Web.Blazor.Shared.PetFood;
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<h3>Pet Food Details</h3>

@if (isLoading) {
    <LoadingSpinner Type="LoadingSpinnerType.Border" />
} else {
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Animal Type:
        </dt>
        <dd class="col-sm-2">
            @PetFoodDto.AnimalType
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Price:
        </dt>
        <dd class="col-sm-2">
            @PetFoodDto.Price €
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Cost:
        </dt>
        <dd class="col-sm-2">
            @PetFoodDto.Cost €
        </dd>
    </dl>
    <hr />

    <h5>Transactions</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Employee
                </th>
                <th>
                    Pet
                </th>
                <th>
                    Pet Price
                </th>
                <th>
                    Pet Food
                </th>
                <th>
                    Pet Food Quantity
                </th>
                <th>
                    Pet Food Price
                </th>
                <th>
                    Total Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in PetFoodDto.Transactions) {
                <tr>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.CustomerFullName
                    </td>
                    <td>
                        @item.EmployeeFullName
                    </td>
                    <td>
                        @item.PetBreed
                    </td>
                    <td>
                        @item.PetPrice €
                    </td>
                    <td>
                        @item.PetFoodAnimalType
                    </td>
                    <td>
                        @item.PetFoodQty
                    </td>
                    <td>
                        @item.PetFoodPrice €
                    </td>
                    <td>
                        @item.TotalPrice €
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button class="btn btn-primary" @onclick="()=> EditItem(PetFoodDto)">Edit</button>
    <button class="btn btn-dark" @onclick="BackToList">Back to List</button>
}

@code {
    [Parameter] public int Id { get; set; }
    bool isLoading { get; set; } = true;
    PetFoodDetailsDto PetFoodDto { get; set; }

    protected override async Task OnInitializedAsync() {

        PetFoodDto = await httpClient.GetFromJsonAsync<PetFoodDetailsDto>($"petfood/details/{Id}");
        isLoading = false;
    }

    private void EditItem(PetFoodDetailsDto petFood) {
        navigationManager.NavigateTo($"petfoodlist/edit/{petFood.Id}");
    }

    private void BackToList() {
        navigationManager.NavigateTo($"petfoodlist");
    }

}
